
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Extra</title>
</head>
<body>
    <div class="form"> 
        <h4>Please Register in the protal</h4>
        @Html.Partial("MyView");
    </div>
</body>
</html>
