<html>
<head>
    <style>
        .form{
            border:2px solid ;
            width:20vw;
            padding:20px;
            margin:10px;
        }
    </style>
</head>
<body>
    <div class="form">
        UserName :<input type="text" id="Textbox1" name="text" placeholder="Enter your Name" />
        <br /><br /><br />
        Email :<input type="email" id="Textbox2" name="email" placeholder="Enter email id" />
        <br /><br /><br />
        Password :<input type="text" id="textbox3" name="pwd" placeholder="Enter Password" />
        <br /><br /><br />
        <input type="button" value="submit" id="Button" />
    </div>
</body>
</html>
